div.full-card {
  position: relative;
  max-width: 100%;
  height: 300px;
  max-height: 300px;
  border: solid black 2px;
  border-radius: 40px 0 40px 0;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, black 50%, rgba(237, 29, 35, 1) 50%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: background-position 0.4s ease-in-out;
}

div.full-card:hover {
  background-position: top;
}

div.card-thumb,
figure {
  width: 100%;
  height: 100%;
}
div.card-thumb figure > img {
  width: 200px;
  height: 200px;
  border: black solid 1px;
  transition: transform 0.1s;
  object-fit: cover;
}

div.card-thumb figure > img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.card-body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 20%;
  color: white;
}

div.description-card {
  display: none;
}

div.card-body:hover > div.description-card {
  display: block;
}
