main {
  position: relative;
}

div.hero-text > h1 {
  font-size: 3rem;
  font-family: "roboto condensed bold";
  line-height: 5rem;
}

div.hero-text > span {
  font-size: 2rem;
}

/*  HERO bg */
div.box-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: black;
  border-bottom: 10px black;
}
div.box-hero > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
section.hero-section > img {
  height: 100%;
  object-fit: cover;
}
.box-hero > div.hero-text {
  position: absolute;
  height: 30%;
  color: white;
}
/* Background-title-filter page */
.background-title-filter {
  background-color: #202020;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Title page and search bar */
.title-page-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.container .title-page-search > h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: "roboto condensed bold";
}
div.search-bar {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  background-color: white;
  color: #202020;
  font-size: 2rem;
  border-radius: 5px;
  padding: 0 10px;
}

.search-input,
.search-input:focus {
  width: 100%;
  border: none;
  height: 30px;
  padding-left: 10px;
  font-family: "roboto condensed";
  font-size: 2rem;
  border: 0;
  outline: none;
}

/* Filter page */
.character-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}
.result-filter > p {
  color: white;
  font-size: 1.5rem;
}
.limit-order-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Section Grid */
div.div-grid-base {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  margin-top: 80px;
}

div.card-grid {
  position: relative;
  width: 200px;
  height: 400px;
  overflow-y: scroll;
  margin: 10px 0;
}

.icon-fav {
  position: absolute;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #ed1d23;
  padding: 10px;
  border-radius: 50%;
  z-index: 1000;
  right: 15px;
  top: 15px;
}

.icon-fav:hover {
  opacity: 0.7;
}
.icon-fav:active {
  background-color: #202020;
}

/* Pagination */
div.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}

div.home-page > button {
  background-color: #ed1d23;
  color: white;
  border: none;
  width: 80px;
}
div.home-page > ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
div.home-page ul > li {
  font-size: 1.5rem;
  cursor: pointer;
}

div.home-page ul > li.current-page {
  font-size: 2rem;
  font-weight: 600;
}

/* pop-up */
.pop-up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.pop-up > button {
  background-color: #ed1d23;
  border: none;
  color: white;
  margin-top: 30px;
  width: 95%;
  height: 50px;
  font-size: 2rem;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  div.div-grid-base {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 40px;
  }

  /* Filter page */
  .character-filter {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  div.div-grid-base {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Filter page */
  .character-filter {
    margin: 20px 20px;
  }
}

@media (max-width: 425px) {
  div.div-grid-base {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 3px;
  }

  /* Filter page */
  .character-filter {
    margin: 20px 20px;
  }
}

@media (max-width: 375px) {
  div.div-grid-base {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 25%;
  }
}
