main.main-signup {
  position: relative;
}
.signup-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
}

.signup-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 37%;
  border-radius: 20px;
}
.title-form {
  font-size: 2.4rem;
  line-height: 20px;
  margin: 30px auto;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 310px;
  color: #a6a6a6;
}
.form-button {
  background-color: #ed1d23;
  border: none;
  color: white;
  margin-top: 30px;
  width: 95%;
  height: 50px;
  font-size: 2rem;
  border-radius: 10px;
}
.form-button:hover {
  cursor: pointer;
}
form > input {
  background-color: white;
  width: 95%;
  height: 35px;
  border: none;
  border-bottom: 1px #ed1d23 solid;
  font-size: 2rem;
  color: black;
}

/* SPIDER-MAN ANIMATED */

img {
  max-width: 100%;
}

.container-signup {
  position: absolute;
  left: 0;
  top: 0;
}

.container-signup .spiderman {
  width: 300px;
  vertical-align: top;
  margin-top: -100px;
  animation-name: animar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.shadow {
  max-width: 200px;
  height: 20px;
  margin: 20px 0;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  animation: sombra 2s alternate infinite;
}

@keyframes animar {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes sombra {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.6);
    opacity: 0.2;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .container-signup .spiderman {
    width: 100px;
    margin-top: -100px;
  }

  .shadow {
    max-width: 50px;
    height: 10px;
    margin: 10px 0;
    margin-left: 10px;
  }
}

@media (max-width: 425px) {
  .container-signup {
    position: absolute;
    left: 130px;
    top: 0;
  }
  .container-signup .spiderman {
    width: 50px;
    margin-top: -100px;
  }

  .shadow {
    max-width: 50px;
    height: 10px;
    margin: 10px 0;
    margin-left: 10px;
  }
}
