@import "./assets/font/stylesheet.css";

/* GENERAL */
html {
  font-size: 62.5%; /* Ré-équilibrage du `rem` face au `px` pour des calculs simples */
}

*,
body {
  font-family: V-Inter, "sans-serif";
  font-family: "Roboto Condensed", "sans-serif";
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
}
/* Exemple d'application */
p {
  font-size: 12px; /* Pour les navigateurs qui ne supportent pas le rem */
  font-size: 1.2rem; /* Pour les navigateurs « Responsive » */
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.display-none {
  display: none;
}
